body
{
	width:900px;
	margin:auto;
}
header
{
	margin-top:-25px;
}
header h1
{
	font-family: Dayrom;
	margin-left:30px;
	margin-top:60px;
	font-size:40px;
}
header p
{
	margin-left:30px;
	margin-top:-22px;
	font-size:20px;
}
#logo
{
	float:right;
	margin-right: 30px ;
	margin-top:-80px;
}
#germany
{
	float:right;
	margin-right: 90px ;
	margin-top:-70px;
}
header nav
{
	display:inline-block;
	margin-left:Opx;
}
nav ul, nav ol
{
	list-style:none;
}
nav ul
{
	text-align:left;
	padding-top:100px;
}
nav ol
{
 text-align:right;
 padding-top:-500px;
}
header nav ul li, header nav ol li
{
	display:inline-block; 
	font-size:20px;
}
a
{
	color:black;
	text-decoration:none;
}